<!DOCTYPE html>
<html>
<body><script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
      <!--button [routerLink]="['/']" id="button" >Vignesh Sankaranarayanan</button-->
      <button [routerLink]="['/']" id="button" >Vignesh Sankaranarayanan</button >
        <button [routerLink]="['/experience']" id="buttonexperience" >Experience</button >
             <button [routerLink]="['/projects']" id="buttonpublishedprojects" >Published Projects</button >
          <div style="padding-top: 90px;"></div>
          <ng-container *ngFor="let d of coding |async">
            
  <div class='list' >
      <table >
          <tr>
              
            <p><b>Title: {{ d.name }} </b></p>
          </tr>
              <tr> 
                <p><i>Link to code
                <a href={{d.html_url}}>
                  <img  alt="github" src="assets/images/fluidicon.png" width="25" height="25">
                  </a>
                </i></p>
              </tr>
              
              <tr ng-if=false>
               
              <p><b> Project: {{ d.name }} </b></p>
            
                <p><b>Description: </b></p>
              </tr>
              <tr>
                <p><i>{{ d.description }}</i></p>
              </tr>
              <!--tr>
                    <h3>Website:  <a href= {{d.homepage}} target="_blank">Published App link</a></h3>
                    
              </tr-->
             
          
      </table> 
  </div>
  </ng-container>
</body>
</html>