.container {
    margin-top: 35%;
  }
  
  .btn-toolbar{
    text-align: center !important;
    display: Block !important;
  }
  
  
  .button {
    height: 50px;
    width: 500px;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }
  #button {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    height: 8%;
    width: 20%;
    left: 10%;
    top: 5%;
    margin-top: -15px;   /* = -height / 2   */
    margin-left: -100px; /* = -width / 2    */
    position: fixed;     /* Fixed is better */
    background-color: #4CAF50;
    border: none;
    color: white;
    
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }

  #buttonpublishedprojects {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    height: 8%;
    width: 18%;
    left: 89%;
    top: 5%;
    margin-top: -15px;   /* = -height / 2   */
    margin-left: -100px; /* = -width / 2    */
    position: fixed;     /* Fixed is better */
    background-color: #4CAF50;
    border: none;
    color: white;
    
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }

  #buttonexperience {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    height: 8%;
    width: 20%;
    left: 68%;
    top: 5%;
    margin-top: -15px;   /* = -height / 2   */
    margin-left: -100px; /* = -width / 2    */
    position: fixed;     /* Fixed is better */
    background-color: #4CAF50;
    border: none;
    color: white;
    
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }


.list{
  height:50%;border-style: outset;width:60%; margin:0 auto;background-color: wheat; 
  padding: 1%;
    
}
.listodd{
  height:50%;border-style: outset;width:60%; margin:0 auto;background-color: whitesmoke; 
  padding: 1%;
    border: 1px solid #4CAF50;
}

    .even { color: red; }
    .odd { color: green; }
 