<html>
    <head>
        <meta charset="UTF-8">
        <title>Vignesh Sankaranarayanan</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=PT+Sans:700' rel='stylesheet' type='text/css'>
      </head>
   
<body><script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
      <!--button [routerLink]="['/']" id="button" >Vignesh Sankaranarayanan</button-->
     
              
                        
              
      <div class="container">
        <div class="row">
                          <div class="col three">
                            <a href="#" class="btn btn-facebook" [routerLink]="['/']">  Vignesh Sankaranarayanan</a>	
                          </div>
                      <div class="col one">
                          <a href="#"  class="btn btn-sunflower"  [routerLink]="['/coding']">Coding</a>		
                      </div>
                     
                      <div class="col one">
                          <a href="#" class="btn btn-rouge " [routerLink]="['/projects']">Published Project</a>			
                  </div>
                </div>    
             
             
              <div class="col"> 
                     
    <ng-container *ngFor="let d of data |async">
      <ul class="press">
        <li>   
          <div  >    
                <p><b>Title: {{ d.title }} </b></p>
          </div>
                  <div> 
                    <p><i>Company: {{ d.company }}</i></p>
                  </div>
                  <div>
                    <p><i>Dates: {{ d.dates }}</i></p>
                  </div>
                  <div>
                    <p><b>Description: </b></p>
                  </div>
                  <div>
                    <p><i>{{ d.description }}</i></p>
                  </div>
                  <div>
                        <h3>Website: {{ d.website }}</h3>
                    </div>
                 
              
      
</li>
</ul>
    </ng-container>
    </div>
    </div>
   
  </body>
  </html>
     