.container {
    margin-top: 30px;
  }
  
  .btn-toolbar{
    text-align: center !important;
    display: Block !important;
  }

  .list{
    border-style: outset;width:800px; margin:0 auto;background-color: lightsalmon; 
    padding: 10px;
      
  }
  .listodd{
    border-style: outset;width:800px; margin:0 auto;background-color: whitesmoke; 
    padding: 70px;
      border: 1px solid #4CAF50;
  }
  
      .even { color: red; }
      .odd { color: green; }
   
  #button {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    height: 50px;
    width: 207px;
    left: 10%;
    top: 5%;
    margin-top: -15px;   /* = -height / 2   */
    margin-left: -100px; /* = -width / 2    */
    position: fixed;     /* Fixed is better */
    background-color: #4CAF50;
    border: none;
    color: white;
    
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }

  #buttonpublishedprojects {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    height: 50px;
    width: 207px;
    left: 90%;
    top: 5%;
    margin-top: -15px;   /* = -height / 2   */
    margin-left: -100px; /* = -width / 2    */
    position: fixed;     /* Fixed is better */
    background-color: #4CAF50;
    border: none;
    color: white;
    
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }

  #buttoncoding {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    height: 50px;
    width: 207px;
    left: 70%;
    top: 5%;
    margin-top: -15px;   /* = -height / 2   */
    margin-left: -100px; /* = -width / 2    */
    position: fixed;     /* Fixed is better */
    background-color: #4CAF50;
    border: none;
    color: white;
    
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }

  body {background-color: coral;}