<nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand" href="https://vignesh-sankaranarayanan.github.io/angular6personalweb/">Vignesh Sankaranarayanan</a>
  <div class="navbar-expand mr-auto">
   
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="https://github.com/Vignesh-Sankaranarayanan" target="_blank">
        <i class="fa fa-github"></i>
      </a>
      <a class="nav-item nav-link" href="https://www.linkedin.com/in/vignesh-sankaranarayanan-8a724293/" target="_blank">
        <i class="fa fa-linkedin"></i>
      </a>
     
    </div>
  </div>
</nav>
