<!DOCTYPE html>
<html>
<body>
  <button [routerLink]="['/']" id="button" >Vignesh Sankaranarayanan</button >
    <button [routerLink]="['/experience']" id="buttonexperience" >Experience</button >
         <button [routerLink]="['/coding']" id="buttoncoding" >Coding</button >
      <div style="padding-top: 90px;"></div>
      <ng-container *ngFor="let d of projects |async">
<div class='list'  *ngIf="d.homepage">
   
  <table >
      <tr>
          
        <p id="publish"><b>Published Project: {{ d.name }} </b></p>
      </tr>
          <tr>
                <h6>Website: <a href= {{d.homepage}} target="_blank">Check the Published App</a></h6>
                
          </tr>
          <tr>
            <p><b>Description: </b></p>
          </tr>
          <tr>
            <p><i>{{ d.description }}</i></p>
          </tr>
         
  </table> 
 
  
</div>
      </ng-container>
  </body>
  </html>