

    <!DOCTYPE html>
    <html lang="en">
   

    <head>
        
    
        <title>Vignesh Sankaranarayanan</title>
   
       
 
    </head>
    
    <body >
          
        <button type="button" class="btn btn-outline-secondary" [routerLink]="['/']" id="button" >Vignesh Sankaranarayanan</button >
        <button type="button" class="btn btn-outline-secondary" [routerLink]="['coding']" id="buttoncoding" >Coding</button >
        <button type="button" class="btn btn-outline-secondary" [routerLink]="['experience']" id="buttonexperience" >Experience</button >
        <button type="button" class="btn btn-outline-secondary" [routerLink]="['projects']" id="buttonpublishedprojects" >Published Projects</button >
          </body>
          </html>
