

   

          <html lang="en">
                <head>  
                  <meta charset="UTF-8">
                  <title>Vignesh Sankaranarayanan</title>
                  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type='text/css'>
                  <link href='https://fonts.googleapis.com/css?family=PT+Sans:700' rel='stylesheet' type='text/css'>
                </head>
                <body>
              
                   
                    <div >
                            <p><img src="assets/images/vigneshnew.jpg" alt="Avatar" style="width:100px"><font size="3">Vignesh Sankaranarayanan </font>
                      </p>  
                   </div>      
                       
                        
              
                        <div class="container">
                  <div class="row">
                      <div class="col three">				
                          <a href="#" class="btn btn-sunflower" [routerLink]="['coding']">Coding</a>			
                      </div>
              
                      <div class="col three">
                          <a href="#" class="btn btn-dark-blue" [routerLink]="['experience']">Experience</a>		
                      </div>
              
                      <div class="col three">
                          <a href="#" class="btn btn-rouge " [routerLink]="['projects']">Published Project</a>			
                  </div>
                  </div>
                  <br><br>  
                  <div class="row">
                    <div class="col four">
                      <a href="#" class="btn btn-facebook" [routerLink]="['/']">  Vignesh Sankaranarayanan</a>	
                   
              
                    
              
                  </div>
                  </div>
                        </div>
                 
              </body>
              </html>