

    <!DOCTYPE html>
    <html lang="en">
    <head>
        
    
        <title>Vignesh Sankaranarayanan</title>
   
       
        <link rel="stylesheet" href="assets/css/style.css">
    
       
    </head>
    <body>
        <button [routerLink]="['/']" id="button" >Vignesh Sankaranarayanan</button >
          <button [routerLink]="['coding']" id="buttoncoding" >Coding</button >
          <button [routerLink]="['experience']" id="buttonexperience" >Experience</button >
          <button [routerLink]="['projects']" id="buttonpublishedprojects" >Published Projects</button >
          </body>
          </html>
